.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* ====== Home Page =========*/
#home-page .logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 250px;
}

#home-page .text {
 text-align: center;
}

/* ====== Login Page =========*/
#login-page .logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 250px;
}

#login-page .fields {
  text-align: center;
  padding: 20px;
  margin: 20px;
}

#login-page .Button {
  margin-right: 100px;
  padding: 100px;
}

#login-component {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}

.signUp {
  text-align: center;
}

.colLeft {
  background-color: lightgrey;
}

.colRight {
  background-color: lightsteelblue;
}

.list:hover {
  background-color: peachpuff;
  cursor: pointer;
}

.list.selected {
  background-color: peachpuff;
  font-weight: bold;
}

.task-list {
  width: 100%;
  height: 100%;
}

.task-list .title {
  border-bottom: 1px solid #00000036;
  color: #6b5757;
  font-family: monospace;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
